<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>나홀로 쇼핑몰</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function isCellPhone(p) {
            let regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
            return regExp.test(p);
        }

        function order() {
            let name = $("#order-name").val();
            let count = $("#order-count").val();
            let address = $("#order-address").val();
            let phone = $("#order-phone").val();

            if (name == "") {
                alert("이름을 입력해주세요")
                $("#order-name").focus()
                return
            } else if (count == "") {
                alert("수량을 입력해주세요")
                $("#order-count").focus()
                return
            } else if (address == "") {
                alert("주소를 입력해주세요")
                $("#order-address").focus()
                return
            } else if (phone == "") {
                alert("휴대폰번호를 입력해주세요")
                $("#order-phone").focus()
                return
            } else if (!isCellPhone(phone)) {
                alert("휴대폰번호 입력 형식이 틀립니다. \n 010-0000-0000으로 입력해주세요")
                return
            }

            // 주문하기 API를 사용해 여기를 채워주세요
            $.ajax({
                type: "POST",
                url: "/order",
                data: {
                    'name': name,
                    'count': count,
                    'address': address,
                    'phone': phone,
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        $(document).ready(function () {
            $("#orders-box").html("");
            showOrders();
        });

        function showOrders() {
            // 주문 목록보기 API 를 사용해 여기를 채워주세요
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    // 2. 요청 성공 여부 확인하기
                    if (response["result"] == "success") {
                        let orders = response["orders"];
                        // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                        for (let i = 0; i < orders.length; i++) {
                            let name = orders[i]['name'];
                            let count = orders[i]['count'];
                            let address = orders[i]['address'];
                            let phone = orders[i]['phone'];
                            makeOrderRow(name, count, address, phone);
                        }
                    } else {
                        alert("리뷰를 받아오지 못했습니다");
                    }
                }
            })
        }

        function makeOrderRow(name, count, address, phone) {
            let tempHtml = `<tr>\
                                <td>${name}</td>
                                <td>${count}</td>
                                <td>${address}</td>
                                <td>${phone}</td>
                              </tr>`;

            $("#orders-box").append(tempHtml);
        }
    </script>

    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        h1, h5 {
            display: inline;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        .img {
            background-image: url("https://miro.medium.com/max/800/1*4QemAP2IzD_8ct2f3kySvg.jpeg");
            background-size: cover;
            background-position: center;
            width: 500px;
            height: 300px;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .order {
            text-align: center;
        }

        .orders {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="img"></div>
    <div class="info">
        <h1>양초를 팝니다</h1>
        <h5>가격: 3,000 원 / 개</h5>
        <p>이 양초는 사실 특별한 힘을 가지고 있어요. 양초를 켜고 소원을 빌면 짜자잔 뭐든지 이뤄지게 된답니다. 하나 사가세요! 대나무 향이 아주 좋아요</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">주문자 이름</span>
            </div>
            <input type="text" class="form-control" id="order-name">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="order-count">수량</label>
            </div>
            <select class="custom-select" id="order-count">
                <option selected value=""> -- 수량을 선택하세요 --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">주소</span>
            </div>
            <input type="text" class="form-control" id="order-address">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">전화번호</span>
            </div>
            <input type="text" class="form-control" id="order-phone">
        </div>
        <div class="order">
            <button onclick="order()" type="button" class="btn btn-primary">주문하기</button>
        </div>
    </div>
    <div class="orders">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">수량</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="orders-box">


            </tbody>
        </table>
    </div>
</div>
</body>
</html>